{#
Global header section

Based on the Charitas Foundation HTML template
  by Victor Tihai <victor@tihai.ca> (2013)

@package    AulaLibreWebsiteBundle
@copyright  2014 Fundación Aula Libre
@license    http://opensource.org/licenses/BSD-3-Clause  BSD License
@author     Edmundo Fuentes <me@edmundofuentes.com>
@version    1.0
#}

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <!--  Basic Page Needs -->
    <meta charset="UTF-8" />
    <title>Fundación Aula Libre</title>
    <meta name="description" content="Fundación Aula Libre Website">
    <meta name="author" content="Fundación Aula Libre">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('bundles/aulalibrewebsite/favicon.ico') }}" />
    {#<link rel="apple-touch-icon" href="apple-touch-icon.png" />#}

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/aulalibrewebsite/style.css') }}" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/aulalibrewebsite/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/aulalibrewebsite/css/flexslider.css') }}" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/aulalibrewebsite/css/font-awesome-ie7.min.css') }}" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/aulalibrewebsite/css/keyframes.css') }}" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/aulalibrewebsite/css/grid.css') }}" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/aulalibrewebsite/css/meanmenu.css') }}" />


    <!-- Scripts -->
    <script type='text/javascript' src='{{ asset('bundles/aulalibrewebsite/js/jquery.min.js') }}'></script>
    <script type='text/javascript' src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
    <script src="{{ asset('bundles/aulalibrewebsite/js/base.js') }}"></script>

    <!-- Scripts for plugins -->
    <script src="{{ asset('bundles/aulalibrewebsite/js/jquery.fitvids.js') }}"></script>
    <script src="{{ asset('bundles/aulalibrewebsite/js/jquery.meanmenu.js') }}"></script>
    <script src="{{ asset('bundles/aulalibrewebsite/js/jquery.flexslider-min.js') }}"></script>
    <script src="{{ asset('bundles/aulalibrewebsite/js/jquery.inview.js') }}"></script>
    <script src="{{ asset('bundles/aulalibrewebsite/js/jquery.scrollParallax.min.js') }}"></script>

</head>
<body class="home blog two-column right-sidebar" data-twttr-rendered="true">
<div id="page">

    <!-- Toolbar -->
    <div id="toolbar">
        <div class="container_16">
            <div class="grid_16">
                <ul>
                    <li class="phone"><a href="tel:+1 554 555 5555" >Tel.: +1 554 555 5555</a></li>
                    <li class="rss"><a href="#"><i class="icon-rss"></i></a></li>
                    <li class="contact"><a href="#"><i class="icon-envelope"></i></a></li>
                    <li class="share"><a href="#"><i class="icon-share"></i></a>
                        <ul class="share-items radius-bottom">
                            <li class="share-item-fb radius"><a href="#"><i class="icon-facebook-sign"></i></a></li>
                            <li class="share-item-tw radius"><a href="#"><i class="icon-twitter-sign"></i></a></li>
                            <li class="share-item-gp radius"><a href="#"><i class="icon-google-plus-sign"></i></a></li>
                        </ul>
                    </li>
                    <li class="search"><a href="#"><i class="icon-search"></i></a>
                        <ul class="search-items radius-bottom">
                            <li>
                                <div class="search-form">
                                    <form method="get" id="searchform" action="action">
                                        <div>
                                            <input class="radius" type="text" size="" name="s" id="s" value="Type your searching word" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;"/>
                                            <input type="submit" id="searchsubmit" value="Search" />
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="donate"><a href="#">Donate <i class="icon-tint"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /#toolbar -->

    <header id="branding" class="site-header" role="banner">
        <div id="sticky_navigation">
            <div class="container_16">
                <hgroup class="fleft grid_5">
                    <h1 id="site-title"><a href="01-home-page.html" title="Fundación Aula Libre" rel="home">Fundación Aula Libre</a></h1>
                    <h2 id="site-description">..slogan..</h2>
                </hgroup>

                <nav role="navigation" class="site-navigation main-navigation grid_11" id="site-navigation">
                    <div class="menu-main-menu-container">
                        <ul id="menu-main-menu" class="nav-menu">
                            <li class="menu-item "><a href="01-home-page.html">Home</a></li>
                            <li class="menu-item "><a href="02-causes-list.html">Our Causes</a></li>
                            <li class="menu-item "><a href="#">Events</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="04-event-list.html">Uppcoming Events</a></li>
                                    <li class="menu-item"><a href="04-event-list.html">Past Events</a></li>

                                </ul>
                            </li>
                            <li class="menu-item "><a href="06-press-list.html">Press</a></li>
                            <li class="menu-item "><a href="08-staff.html">Our Staff</a></li>
                            <li class="menu-item "><a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="11-elements.html">HTML Elements</a></li>
                                    <li class="menu-item"><a href="12-404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li class="menu-item "><a href="10-contact.html">Contacts</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- .site-navigation .main-navigation -->
                <div class="grid_16 mob-nav"></div>
                <div class="clear"></div>
            </div>
        </div>
    </header>
    <!-- #masthead .site-header -->